body {

    background-color:rgb(50,50,150);
    color: black;
}

div#footer {
    
    font-size: 0.8em;
    background-color:rgb(100,60,60);
    border: 4px solid grey;
    margin-top: 3em;
    padding: 1em;
}
